 <!-- <button action="/">Back</button> -->


<div style=" padding: 30px;text-align:center; width: 1200px; height:200px; background-color: lightblue; color:aliceblue">

    <h2>Message Have been sent!</h2>
    <h1>Thank you</h1>

</div>

